body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #333333;
    margin: 20px;
}
h1:before {
    content: 'R0331 - Dynamic Web Applications with JavaScript';
    display: block;
    font-size: 60%;
    font-style: italic;
}
h1 {
    height: 60px;
    background: url('../img/js-logo.png') no-repeat right top;
    color: #dc0614;
    text-shadow: 1px 1px 1px #1966a2;
}
h2 {
    color: #1966a2;
}
hr {
    border: 1px solid #1966a2;
}
.red-box {
    background: red;
    width: 50px;
    height: 50px;
}
.ws3 div, .ws4.div {
    width: 200px;
    height: 100px;
    border: 1px solid black;
}
.ws3 table, .ws3 tr, .ws3 td{
    margin: 10px;
    padding: 10px;
}
.ws3 table, .ws3 tr, .ws3 td, .ws3 th{
    border: 1px solid gray;
    width: 50%;
    border-collapse: collapse;
    padding: 5px;
}
table.display {
    width: 100%;
}
.ws4 img {
    position: relative;
    left:0px;
}

